#myBackground{
    /* height: 200px;
    width: 200px;
    background-color: aqua; */

   
    /* border-style: dotted; */
    /* border-style: solid; */
    /* border-style: dashed; */
    /* border-style: double; */
    /* border-style: groove; */
    /* border-style: inset; */

    /* border-style: outset; */
    /* border-style: ridge; */
    /* border-color: red; */
    /* border: 10px solid red; */
    /* border-radius: 20px; */
    /* border-radius: 50%; */
    /* border-radius: 40px 50px 60px 15px; */

    






}

p{
    background-color: aqua;
    display: inline-block;
   
}
h1{
    background-color: burlywood;
    display: inline-block;
}
div{
    background-color: chartreuse;
    
}
mark{
   
}