
/* Element selector */

/* h1{

    color: aqua;
    background-color: beige;

} */




/* Id selector */


/* #afia{
    color: aqua;
    background-color: beige;
} */


/* Class selector */

/* .shamim{
    color: blue;
} */



/* Universal Selector */




/* body{
    background-color: rgb(189, 221, 211);
} */



/* Group Selector  */

